{% extends 'layout/index' %}
{% use 'extention/blocks' get block import default_footer %}
{% use 'extention/macros' get macro as m1v %}
{% block 'content' %}
    Site Page

    {% set title = "hello world" %}

    {% cache 'title' %}
        <p>
            {{ lclast(title|upper) }}
        </p>
    {% endcache %}

    {% set title = "bye world!" %}

    {% cache 'title' %}
        <p>
            {{ lclast(title|upper) }}
        </p>
    {% endcache %}

    <p>
        {{ uclast(title|lower) }}
    </p>

    <div>
        <h2>{{ 1..10 | join(", ") }}</h2>
    </div>

    <div>
        concat: {{ books[1].title ~ " : " ~ books[1].author ~ "(" ~ 22/7 ~ ")" }}
    </div>

    <div>
        {{ m1v.color('Hello Leafs!!!', '#ff00ff') }}
    </div>

    {% embed 'extention/card' %}
        {% block 'card_content' %}1{% endblock %}
    {% endembed %}
    <hr>
    {% set s = "hello_world!!!" %}
    <ul>
        {% for key in s|split('_') %}
            <li>
                <b>{{ key }}</b>
            </li>
        {% endfor %}
    </ul>
    <hr>
    {% embed 'extention/card' %}
        {% block 'card_content' %}
        <div style="border: 1px solid #ff41ba">
            {% for word in books[0]|type|split('\.') %}
                {% for l in word %}
                    <div>- {{ l ~ " ---" }}</div>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
        <div style="border: 1px solid red">
            <ul>
                {% for item in items %}
                <li style="color: {{ loop.index % 2 == 0 ? "#f0f" : '#ff0' }}">{{ item.symbol }} : {{ item.name }}</li>
                {% endfor %}
            </ul>
        </div>

        {% endblock %}
    {% endembed %}
{% endblock %}
{% block 'title' %}Site{% endblock %}
{% block 'footer' %}
    {% render 'default_footer' %}
    {% for i in 1..10 %}
        Index: {{ i }}<br>
    {% endfor %}
{% endblock %}