{% extends 'layout/index' %}
{% use 'extention/blocks' get block import default_footer as base_footer %}
{% use 'extention/macros' get macro as m1v %}
{% use 'layout/index' get block import footer as parent_footer %}
{% block 'content' %}
    Site Page

    {{ m1v.input('email', "email", {"style":'border: 1px solid red;'}) }}

    {% set title = "hello world" %}

    {% cache 'title' %}
        <p>
            {{ lclast(title|upper) }}
        </p>
    {% endcache %}

    {% set title = "bye world!" %}

    {% cache stock.name %}
        <p>
            {{ lclast(title|upper) }}
        </p>
    {% endcache %}

    <p>
        {{ uclast(title|lower) }}
    </p>

    <div>
        <h2>{{ (1..10) | join(", ") }}</h2>
    </div>

        {% for title in books|filter(b -> b.author|length < 11)|map(b -> b.title|upper ~ ' : ' ~ b.author) %}
        <li>
            <h4>title:{{ title }}</h4>
        </li>
        {% endfor %}

    <div>
        concat: {{ books[1].title ~ " : " ~ books[1].author ~ "(" ~ (22f/7)|float ~ ")" }}
    </div>

    <div>
        {{ m1v.color('Hello Leafs!!!', '#ff00ff') }}
    </div>

    {% embed 'extention/card' %}
        {% block 'card_content' %}1{% endblock %}
    {% endembed %}
    <hr>
    {% set s = "hello_world!!!" %}
    <ul>
        {% for key in s|split('_') %}
            <li>
                <b>{{ key }}</b>
            </li>
        {% endfor %}
    </ul>
    <hr>
    {% embed 'extention/card' %}
        {% block 'card_content' %}
        <div style="border: 1px solid red">
            <ul>
                stocks:
                {% for item in items|filter(i -> i.name is starts('A')) %}
                <li style="color: {{ loop.index % 2 == 0 ? "#f0f" : '#ff0' }}">{{ item.symbol }} : {{ item.name }}</li>
                {% endfor %}
                ---
                books:
                {% for item in books %}
                    <li style="color: {{ loop.index % 2 == 0 ? "#f0f" : '#ff0' }}">{{ item.author }} : {{ item.title | upper }}</li>
                {% endfor %}
                ---
            </ul>
        </div>

        {% endblock %}
    {% endembed %}
{% endblock %}
{% block 'title' %}Site{% endblock %}
{% block 'footer' %}
    <h1>{{ underscored('helloWorld', true) }}</h1>
    <p>
        parent footer:
        {% render 'parent_footer' %}
    </p>

    <p>parent: {% parent 'footer' %}</p>

    inner footer: {% render 'base_footer' %}
    {% for i in (1..100)|filter(n -> n % 8 == 0) %}
        Index: {{ i }}<br>
    {% endfor %}
<hr>
    {% for i in 1..64 %}
    Value: {{ 2|bigInt ** i }}<br>
    {% endfor %}

<h1>{% url '/home' %}</h1>

{% endblock %}